name: Just Publish Testing for now

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Run syntax maker
        run: |
          python src/syntax_maker.py
          git config --global user.name 'GitHub Publish Action'
          git add syntaxes/many.tmLanguage.json
          git commit -m "Automatically made many.tmLanguage.json syntax."
          git push
